/* HAND-CODED BY DANIEL VIANNA*/


/* START GLOBAL CONTAINER STYLES*/
body {
  margin-top: 2rem;
}


.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

/* START GLOBAL CONTAINER STYLES*/

/* START GLOBAL FONT STYLES*/
h1{
    font-family: open sans, sans-serif;
    color: white;
    font-weight: 700;
    font-size: calc(3.0rem + 0.4vw);
    line-height: 1.1;
    max-width: calc(28rem + 0.5vw);
    margin-bottom: 0.5rem;
   }


h2{
    font-family: open sans, sans-serif;
    color: white;
    font-weight: 700;
    font-size: calc(3.0rem + 0.4vw);
    line-height: 1.1;
    max-width: calc(28rem + 0.5vw);
    margin-bottom: 0.5rem;
}

h3{
    font-family: open sans, sans-serif;
    color: white;
    font-weight: 300;
    font-size: calc(0.9rem + 0.4vw);
    line-height: 1.5  ;
    max-width: calc(28rem + 0.5vw);
    margin-bottom: 0.5rem;
   }

/* END OF START GLOBAL FONT STYLES*/


/* START OF NAVIGATION BAR*/
.title-bar {
    background-color: #1e1e1e;
    padding: 0.9rem;
}

.title-bar-title {
    color: #fff;
    font-family: "open sans", sans-serif;
    font-weight: 400;
}

.top-bar-right {
    z-index: 9999!important;
}

.top-bar {
    background-color: #1e1e1e;
}

.top-bar ul {
    background: #333;
}

.top-bar ul li {
    background-color: #1e1e1e;
}

.top-bar ul li a {
   color: #fff;
   font-family: "open sans", sans-serif;
   font-weight: 400;
}

#main-menu li:hover,
#main-menu li a:hover {
  background: #2f2f2f;
}

#main-menu ul {
  background: #1e1e1e ;
  border: none;
}

#main-menu,
.title-bar {
  background: #1e1e1e;
}

.menu-text {
  background:-color: #fff;
}



/* END OF NAVIGATION BAR*/


/* START HERO SECTION HOMEPAGE*/
#hero {
    background-color: #050917;
    background-repeat: no-repeat !important;
    background-size: cover;
    height: 95vh;
    width: 100%;
    background-position: center !important;
    margin: 0;
}

@media only screen and (max-width : 480px) { /* this switches the background for a darker one in small res */
#hero {
    background-color: #050917;
    background-position: right !important;
    }
}


#text_hero {
    position: absolute;
    top: 50%;
    left: 70%;
    margin: -6.25em 0 0 -9.38em; /* this defines the position for the hero text*/
    background-color: transparent; /* used colored for detecting problems*/
    height: 31.5em;
}

#portfolio_text_container {
    display:flex;
    flex-direction:row;
    justify-content:left;
    flex-wrap:wrap;
    align-items:flex-start;
    background: transparent; /* used colored for detecting problems*/
    margin:auto;
    height:5em;
    z-index: 9;
}

#portfolio_text {
    font-family: open sans, sans-serif;
    color: #ff6300!important;
    font-weight: 700;
    font-size: calc(0.5rem + 0.4vw);
    line-height: 1.5  ;
    max-width: calc(28rem + 0.5vw);
    margin-bottom: 0.5rem;
    z-index: 9;
}

#arrow_container{
    display:flex;
    flex-direction:row;
    justify-content:left;
    flex-wrap:wrap;
    align-items:flex-end;
    background: transparent; /* used colored for detecting problems*/
    margin:auto;
    height:10em;
}


@media only screen and (max-width : 480px) {
#arrow_container {
    height:2em;
    }
}


/* START OF CASE 1 SECTION HOMEPAGE*/

#case1 {
    background-color: black;
    height: 95vh;
    width: 100%;
    position: relative;
}

.case1text {
    position: relative;
    top: 50%;
    left: 70%;
    margin: -6.25em 0 0 -9.38em; /* this defines the position for the hero text*/
    background-color: transparent; /* used colored for detecting problems*/
    height: 31.5em;
}

.case_image_container {
    position:relative;
    margin-left: 0;
    background-color: red;
    margin-bottom: 1em;

}

.case_image {
    height:auto;
    width: 40em;
    position: sticky;
    margin-left: 5;
    border: 0;
    font-size: 1.4em;

}
/* END OF CASE 1 SECTION HOMEPAGE*/



/* START OF CASE 2 SECTION HOMEPAGE*/

#case2 {
    background: #050917;
    height: 95vh;
    width: 100%;
}

/* END OF CASE 2 SECTION HOMEPAGE*/



/* START OF CASE 3 SECTION HOMEPAGE*/

#case3 {
    background: #130a28;
    height: 95vh;
    width: 100%;
}

/* END OF CASE 3 SECTION HOMEPAGE*/


/* START OF CASE 4 SECTION HOMEPAGE*/

#case4 {
    background: #050917;
    height: 95vh;
    width: 100%;
}

/* END OF CASE 4 SECTION HOMEPAGE*/


/* START OF CASE 5 SECTION HOMEPAGE*/

#case5 {
    background: #ff9b0d;
    height: 95vh;
    width: 100%;
}

/* END OF CASE 5 SECTION HOMEPAGE*/
